#p1 {background-color: #ff0000;}                /* red in HEX format */
#p2 {background-color: hsl(120, 100%, 50%);}    /* green in HSL format */
#p3 {background-color: rgba(0, 4, 255, 0.733);} /* blue with alpha channel in RGBA format */

#p1 {color: #ff0000;}                /* red in HEX format */
#p2 {color: hsl(120, 100%, 50%);}    /* green in HSL format */
#p3 {color: rgba(0, 4, 255, 0.733);} /* blue with alpha channel in RGBA format */